#root {
  background-image: url(https://wallpapercave.com/wp/OYsrGmR.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-radius: 5px;
  
  height: 500px;
}



.header{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  height: 300px;


}

.ships{
  
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  height: 100px;
  background-color: rgba(0,0,0,.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  
}