@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Noto+Sans:wght@500&display=swap');

*{
  font-family: 'Mukta', sans-serif;
}

.container{
  display: flex;
  background-color: #E5E7EB;
  border: 1px solid  #4285F4;
  border-radius: 5px;
  /* width: 50%; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* background-color: black; */
  
  
  
}

.internalDiv1{
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: rgb(226, 125, 43); */ 
  margin: 10px;
  /* background-color: aquamarine; */
  /* width: 110px; */
  height: 90vh;
  overflow: auto;
  border-radius: 5px;
  /* border: 1px solid  #4285F4; */
  
  
}

.internalDiv2{
  flex: 2.5;
  margin: 10px;
  background-color: #E5E7EB;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid  #4285F4;

 
}

.nav{
 
  display: flex;
  justify-content: space-evenly;
  /* gap: 800px; */
  align-items: center;
  /* background-color: #ebe8e5; */
  /* font-size: 30px; */
  border-radius: 5px;
  border: 1px solid  #4285F4;
  margin-bottom: 0.3rem;

}

.input{
  font-size: 20px;
  background-position: 10px 10px;
  border-radius: 15px;
  border: 1px solid  #4285F4;


}

.custom{
  font-size: 20px;
  /* background-position: 10px 10px; */
  border-radius: 25px;
  border: 1px solid  #4285F4;
}

.where{
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
}
.title{
  color:  #f72585;
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  font-size: 30px;
  
}

.placesh3{
  color:  #f72585;
}
/*////////////////////CARD-PLACE///////////////////////////////////////////*/

.placeCard{
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  font-size: 16px;
  /* width: 390px; */
  background-color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1rem;
  height: 412px;
  border: 1px solid  #4285F4;
   
 }
.itemsCard{
  color:  #f72585;

}

.testClass{
  /* overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; */
  width: 100%;
  font-size: 19px;
}

.cardName{
  font-size: 31px;
  
}
 

.img-place{
  border-radius: 5px;
  width: 300px;
  height: 200px;
  border: 1px solid  #4285F4;


}


.loading{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #1561db ;
  font-size: 45px;
  gap: 5px;
  margin: 100px;
  
}
/*///////////////MAPCARD////////////////////////////////////////////////////////*/
.map-card{
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-size: 9px;
  width: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid  #4285F4;

}

.img-map{
  width: 50px;
  border-radius: 5px;
  border: 1px solid  #4285F4;
}

.rating{
  color: #FFD700 ;
  
}