.container{
  display: flex;
  /* width: 50%; */
 
  max-width: 1200px;
  margin: 0 auto;
}

.internalDiv1{
  flex: 1;
  /* border: 2px solid rgb(226, 125, 43); */
  margin: 10px;
  background-color: #E5E7EB;
}

.internalDiv2{
  flex: 1;
  border: 2px solid blueviolet; 
  margin: 10px;
  background-color: #E5E7EB;
}

.nav{
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E5E7EB;
}

/*////////////////////CARD-PLACE///////////////////////////////////////////*/

.placeCard{
   /* Add shadows to create the "card" effect */
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
   max-width: 400px;
   height: 400px; 
   margin: auto;
   text-align: center;
   font-family: arial;
   border-radius: 5px;
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 

.img-place{
  border-radius: 5px;
  width: 50%;

}
/*///////////////MAPCARD////////////////////////////////////////////////////////*/
.map-card{
  border: 1px solid black;
  font-size: 12px;
  max-width: 40px;

}

.img-map{
  width: 20px;
}